body{
    background-color:gray;
    font: 5em sans-serif;
}
#output{
    background-color: whitesmoke;
    color: black;
    height: 500px;
    width: 500px;
}
#inputVel{
    height: 500px;
    width: 500px;
    font-size: 19px;
}

